<%= form_tag(orders_path, method: "get") do %>
  

  <div class="field form-group">
    <%= label_tag "store" %>
    <%= text_field_tag "store", nil, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= submit_tag "Go", class: "btn btn-primary" %>
  </div>
<% end %>
